$purple: #7946bf;
$purpleLight: #5850da;
$pink: #93278f;
$pinkLight: #ff7bac;
$green: #006837;
$greenLight: #abc434;
$orange: #f15a24;
$orangeLight: #f7931e;
$gray: #4d4d4d;
$turquoise: #00a99d;
$black: #212121;
$font: Arial;